body, html {
  height: 100%;
}

.wrap {
  /* min-height: 86.5%; */
  min-height: 100%;  
  /* igual a la altura del footer */
	margin-bottom: -64px; 
  position: relative;
}
.wrap:after {
  content: "";
  display: block;
  height: 64px;
}



#navbar{
  background: #10436b !important;
  width: 100%;
  z-index: 2;
}


#navbar .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,.6);
}

#navbar .navbar-nav .active .nav-link {
    color: rgba(255,255,255,1);
}

#navbar .dropdown-menu .dropdown-item:hover {
  background: #2e5573;
  color: #fff;
}

#navbar .dropdown-menu .dropdown-item:active {
  background: #2e5573;
  color: #fff;
}

#navbar .dropdown-menu .dropdown-item:focus {
  border: 1px solid #2e5573;
}

.indicador {
  font-size: .6em;
  display: inline-block;
  margin-bottom: 2px;
}


#navbar ul.navbar-nav li.nav-item a.offline {
  color: #fd1919 !important;
}

#navbar ul.navbar-nav li.nav-item a.online {
  color: #5cfd19 !important;
}

.jumbotron-image {
  top: 20px;
  z-index: -1;
  background: url("assets/img/highbloodpressure.jpg") no-repeat center top;
  background-size: cover;
  width: 100%;
  height: 400px;;
}

.slogan {
  position: relative;
  width: 90%;
  top: 20%;
  left: 5%;
  font-size: 30px;
  color: #fff;
}

.slogan p {
  background: rgba(82,139,183,.5);
  padding: 10px;
  font-size: 22px;;
  width: 600px;
}

.slogan h1 {
  font-size: 70px;
  color: #10436b;
}

.servicios {
  width: 100%;
  position: relative;
  left: 15px;
  color: white;
  font-size: 20px;
}

.panel-oscuro {
  background: #3b6484;
  height: 300px;
}

.panel-claro {
  background: #528BB7;
  height: 300px;  
}

.top-10 {
  margin-top: 10px;;
}

.top-20 {
  margin-top: 20px;
}
.top-40 {
  margin-top: 40px;
}

.letra-pequena {
  font-size: 13px;
}

.color-principal {
  color: #495057;
}

.color-secundario {
  color: #3b6484;
}

.cuenta {
  padding: 0px 70px 20px 70px;
}

.descripcion {
  color: #545454;
  margin: 20px 0 0 0;
}

.bottom-20 {
  margin-bottom: 20px;
}

.bottom-40 {
  margin-bottom: 40px;
}

.left-20 {
  margin-left: 20px;
}


.titulo-top {
  padding: 30px;
}

.titulo {
  color: #064386;
}

.puntero{
  cursor: pointer;
}

.cursor-normal {
  cursor: default;
}


.img {
  display: block;
  width: 100%;
}

.hover-rojo:hover {
  color: #b52e31;
  cursor: pointer;
}

.hover-verde:hover {
  color: #00C851;
  cursor: pointer;
}

.hover-amarillo:hover {
  color: #f1c40f ;
  cursor: pointer;
}

.input-autocompletado {
  position: relative;
}

.autocompletado {
  position: absolute;
  background: rgba(255, 255, 255, .8);
  z-index: 1;
  top:100%;
  left:-17px;
  width: 100%;
}

.autocompletado ul {
  list-style: none;
  width: 100%;
}

.autocompletado ul li {
  padding: 5px;
  width: 100%;
}

.autocompletado ul li:hover {
  background: #007bff;
  color: white;
  cursor: pointer;
}

.flotar-mensaje {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%
}


.main-container{
  width: 90%;
  margin: 30px auto;
}

.explicacion {
  font-size: 1.2em;
  color: #545454;
  margin-bottom: 40px;  
}

.formulario {
  width: 75%;
  margin: 30px auto;
  padding: 0 20px 20px 20px;
}

.formulario-ingreso {
  width: 80%;
  margin: 30px auto;
  padding: 0 20px 20px 20px;
}


.linea-titulo {
  padding-bottom: 10px;
  border-bottom: 1px solid #064386;
}

.enLinea {
  display: inline-block;
}

/*Botones*/

.botones {
  margin: 20px;
}

.boton-opciones {
  margin: 10px;
}

.boton-primario {
  background-color: transparent;
  color: #1165c1;
  border: 1px solid #1165c1;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;

}

.boton-primario:hover {
    color: #fff;
    background-color: #1165c1;
    border-color: #1165c1;
}

.boton-primario:disabled {
  background-color: transparent;
  color: rgba(17, 101, 193, 0.65);
  border: 1px solid rgba(17, 101, 193, 0.65);
  cursor: default;
}

.boton-secundario {
  background: #8cb111;
  color: #fff;
  border: 1px solid #8cb111;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
              background-color .15s ease-in-out,
              border-color .15s ease-in-out,
              box-shadow .15s ease-in-out;
}

.boton-secundario:hover {
  background: #a4d013;
  border: 1px solid #a4d013;  
}



/*Feedback de mensajes*/

#flashMessages .flash-message{
  height: 53px;
  transition: opacity 3s ease-in-out;
  -webkit-transition: opacity 3s ease-in-out;
  -moz-transition: opacity 3s ease-in-out;
  -ms-transition: opacity 3s ease-in-out;
  -o-transition: opacity 3s ease-in-out;
  opacity: 1;
}

/*Estilo datepicker*/
.ngx-datepicker-container .ngx-datepicker-calendar-container {
    z-index: 3 !important;
}


/* Animaciones */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


.alerta-danger {
  color: #721c24;
  background: #f8d7da;    
}

.alerta-success {
  color: #155724;
  background: #d4edda; 
}

@-webkit-keyframes fadeInOut {
  0% {
    height: 0px;
    padding: 0px 20px;
    border: 0px;
    opacity: 0;
  }
  20%, 70% {
    height: 50px;
    padding: 12px 20px;
    border: 1px;
    opacity: 1;
  }
  100% {
    height: 0px;
    padding: 0px 20px;
    border: 0px;
    opacity: 0;   
  }
}

@keyframes fadeInOut {
  0% {
    height: 0px;
    padding: 0px 20px;
    border: 0px;
    opacity: 0;
  }
  20%, 70% {
    height: 50px;
    padding: 12px 20px;
    border: 1px;
    opacity: 1;
  }
  100% {
    height: 0px;
    padding: 0px 20px;
    border: 0px;
    opacity: 0;   
  }
}

.fadeInOut {
  -webkit-animation-name: fadeInOut;
  animation-name: fadeInOut;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*Estilos para pestañas*/
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #135cab !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
    color: #495057 !important;
}

/*Estilos del footer*/

footer.pie-pagina {
  background-color: #f7f7f7;
  text-align: right;
  color: #545454;
  padding: 20px 20px;
  /* position: relative; */
  height: 64px;
  clear: both;
}

footer.pie-pagina p {
  margin-bottom: 0;
}



@media only screen and (max-width: 767px) {
  .jumbotron-image .slogan h1 {
    font-size: 1.5em;
  }

  .slogan p {
    font-size: .5em;
    width: 50%;    
  }

  .formulario-ingreso {
    width: 100%;
  }
}

@media (min-width: 992px) {
  #ingreso {
    left: -65px;
  }
}