<section class="container">
  <button *ngIf="rol === 'doctor'" type="button" class="boton-primario top-20" [routerLink]="['/pacientes']">
    <span class="fas fa-arrow-left"></span> Regresar
  </button>
  <div class="row top-20">
    <div class="col-md-7">
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
                    [datasets]="lineChartData"
                    [labels]="fechas"
                    [options]="lineChartOptions"
                    [colors]="lineChartColors"
                    [legend]="lineChartLegend"
                    [chartType]="tipoGrafico"></canvas>
      </div>
    </div>
    <div class="col-md-5" style="margin-bottom: 10px">
      <div class="top-20">
        <div class="fechas-container">
          <label for="desde" class="fechas-label">Desde:</label>
          <ng-datepicker [options]="desdeOptions" class="fechas" [(ngModel)]="desde">
          </ng-datepicker>
        </div>
        <div class="fechas-container top-20">
          <label for="hasta" class="fechas-label">Hasta:</label>
          <ng-datepicker [options]="hastaOptions" class="fechas" [(ngModel)]="hasta">
          </ng-datepicker>
        </div>        
      </div>
      <button type="button" class="boton-primario top-20" (click)="tipoGrafico='bar'"*ngIf="tipoGrafico == 'line'">Cambiar a gráfico de barras</button>       
      <button type="button" class="boton-primario top-20" (click)="tipoGrafico='line'"*ngIf="tipoGrafico == 'bar'">Cambiar a gráfico de lineas</button>      
    </div>
  </div>
</section>
