<section class="jumbotron-image animated fadeIn">
  
  <div class="slogan">
    <h1>ArterialCare</h1>
    <p>La prevención puede salvar una vida.</p>
  </div>
</section>

<section class="servicios row cursor-normal">
  <div class="col-md-4 text-center panel-oscuro">
    <div class="bottom-20">
      <span class="top-20 fas fa-heart fa-4x hover-rojo"></span>
    </div>
    <h3>Medición</h3>
    <p>Tan fácil como conectarse al dispositivo de medición y pulsar un botón.</p>
  </div>
  <div class="col-md-4 text-center panel-claro">
    <div class="bottom-20">
      <span class="top-20 fas fa-stethoscope fa-4x  hover-verde"></span>
    </div>
    <h3>Diagnóstico</h3>
    <p>Visualice la evaluación de sus resultados desde el hogar.</p>
  </div>
  <div class="col-md-4 text-center panel-oscuro">
    <div class="bottom-20">
      <span class="top-20 fas fa-chart-bar fa-4x  hover-amarillo"></span>
    </div>
    <h3>Seguimiento</h3>
    <p>Consulte las estadísticas y gráficas de sus valores.</p>
  </div>
</section>


